.cart {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background: #f9f9f9;


    h2 {
        text-align: center;
    }

    &-empty {
        text-align: center;

        color: #666;
    }

    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        border-bottom: 2px solid #eee;
        flex-direction: column;
        text-align: center;
    }

    &-summary {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    &-clear {
        background: #ff6b6b;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        width: 56%;
        cursor: pointer;

        &:hover {
            background: #ff5252;
        }
    }
}

.remove-item {
    button {
        &:hover {
            background: #ff5252;
        }
    }
}

@media screen and (max-width: 768px) {
    .cart {
        padding: 29px;

        h2 {
            margin-top: -9%;
            font-size: 22px;
        }

        &-empty {
            font-size: 84%;
            margin-top: 30%;
        }

        &-sumary {
            p {
                font-size: 92%;
            }
        }

        &-clear {
            padding: 5px 10px;
            // width: 144%;
                    width: 96%;
        }
    }
}