

.quantity {
    &-controls {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
            background-color: transparent;
            border: 0.1px solid black;
            width: 25px;
            height: 25px;
            cursor: pointer;

            &:hover {
                background: rgba(194, 149, 152, 0.58)
            }
        }
    }

    &-input {
        background-color: transparent;
        border: none;
        border-bottom: 0.1px solid black;
        text-align: center;
    }
}

