.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(236px, 3fr));
    gap: 20px;
}

.card {

    display: flex;
    border-radius: 10px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.13);
    background: linear-gradient(207deg, #d8c6ce 3%, #cddceb 73%);

    h3 {
        margin-top: 0;
        font-size: 125%;
        text-align: center;
    }

    p {
        font-size: 16px;

        text-align: center;
    }

    .-price {
        font-weight: bold;
    }
}
 @media screen and (max-width: 768px){
   .card{
    h3{font-size: 116%;}
    p{
    font-size: 15px;
   }
   } 
   
}   